# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid

# OS
.DS_Store
Thumbs.db

# Storage (Local Data)
storage/
backups/
export/
